{{extend 'layout.html'}}

<h2>
    Ответы на вопросы
</h2>
<br>
<div style="font-family: monospace;">

<h3>
    Я могу заработать тут?
</h3>
<p>
+ Да, Вы можете создавать свои споры, пари, тотализаторы в биткоинах и привлекать в них игроков делать ставки. При этом Вы должны обслужить спор, так чтобы он прошел все 4-ре стадии развития: НОВЫЙ (“NEW" <i class="fa fa-pause"></i>), ПЛАТЁЖНЫЙ (“PAY" <i class="fa fa-play"></i>),
    ЗАПУЩЕННЫЙ (“RUN" <i class="fa fa-forward"></i>), ЗАВЕРШЁННЫЙ (“END" <i class="fa fa-eject"></i>). В результате Вы получите вознаграждение от нашей службы около 3% от общей суммы ставок на этот спор и Вам будет начислена статистка: «доверие» и «активность».
</p>
    <h3>
Что значит показатель «Доверие» у создателя спора?
</h3>
<p>
+ Так как результат спора задаётся его создателем, то мы берем с создателя гарантийный взнос (guarantee deposit) в биткоинах, который задает уровень его доверия. Таким образом, если создатель спора поступит не честно, то он лишится своего взноса. Поэтому, при выборе спора обращайте внимание на уровень доверия создателя спора или пари – чем он выше, тем больше гарантийный взнос оплатил его создатель. Посмотреть какой гарантийный взнос оплачен пользователем Вы сможете на его страничке (“men”).
    </p>
    <h3>
Я играю в онлайн игры, могу ли я создавать тут тотализатор на свою игру?
</h3>
<p>
+ Да Вы можете создать быстрый тотализатор, пари или спор на онлайн-игру за биткоины - воспользуйтесь либо «простыми спорами» либо автоматическими «мини спорами», которые очень удобны для создания ставок на матчи в Counter-Strike, DOTA 2 и других онлайн играх за биткоины.
</p>
<h3>
    Могу ли я поднять Доверие бесплатно?
</h3>
<p>
+ Да, Вы можете поднять доверие для создания споров бесплатно, если Вы являетесь представителем известного ресурса, желательно в среде Биткоин. 
    Свяжитесь с нами для этого через <a href={{=URL('default','contacts')}} >Контакты</a>.
</p>
<h3>
Что значит спор со статусом Новый (“NEW” <i class="fa fa-pause"></i>)?
</h3>
<p>
+ Такой спор находится в стадии редактирования – у него можно добавлять новые условия спора. Причем если у спора меньше 2-х условий, то следующие стадии для него не открываются.
</p>
<h3>
Что значит спор со статусом Платёжный (“PAY” <i class="fa fa-play"></i>)?
</h3>
<p>
+ Такой спор находится в стадии оплаты – можно выбирать условия победы (варианты результатов события) и делать ставки в биткоинах на них путем оплаты в выбранной валюте через выбранный платежный сервис.
</p>

<h3>
Что значит спор со статусом Запущенный (“RUN” <i class="fa fa-forward"></i>)?
</h3>
<p>
+ Такой спор закрыт для ставок и ожидает свершения события. Все платежи, пришедшие на счета условий такого спора автоматически возвращаются назад.
</p>
<h3>
Что значит спор со статусом Завершённый (“END” <i class="fa fa-eject"></i>)?
</h3>
<p>
+ Такой спор окончен – событие произошло, были выбраны выигравшие условия (результаты) события и были произведены выплаты маклеру, создавшему спор, и всем участникам, поставившим на выигравшие условия.
</p>

<h3>
Я не хочу регистрироваться, могу я сделать ставку?
</h3>
<p>
+ Да, Вы можете сделать ставку в биткоинах на спор, пари или тотализатор без регистрации. Регистрация нужна только для создания своих споров. Участие в уже созданных не требует регистрации. А выигрыши отправляются на адрес откуда была сделана ставка в криптовалюте.
</p>
<h3>
Можно ли при регистрации указывать адреса кошельков бирж и пулов?
</h3>
<p>
+ НЕНУЖНО! – ведь заработок и выигрыши отправляются автоматически на адрес плательщика. Поэтому биржа или пул Вам могут не вернуть Ваши деньги – используйте только свой личный адрес.
</p>
<h3>
Можно ли платить ставки напрямую с бирж, пулов и других сервисов?
</h3>
<p>
+ НЕНУЖНО! – ведь выигрыши отправляются автоматически на адрес плательщика. Поэтому биржа или пул Вам могут не вернуть Ваши деньги – используйте только свой личный адрес.
</p>
<h3>
Что такое биткоин-платежи и почему Вы используете их?
</h3>
<p>
+ Биткоин (криптознаки, криптовалюта) – это новая технология мироустройства денег. Основное их отличие от всех других систем – банковской и электронных денег (PayPal, Qiwi) - в том, что деньги хранятся у Вас на компьютере и для перевода их не нужна 3-я сторона – банк или платежная система. Банкротство банков и блокировки счетов Вам не страшны в такой системе – потому как они не возможны по определению.
</p>

<h3>
Где взять биткоины?
</h3>
<p>
+ В первую очередь Вам надо скачать и установить «лёгкий кошелек», мы рекомендуем <a href=http://multibit.org target=”_blank”>multiBit.org</a>. А купить биткоины можно на биржах или обменниках.
    <br>Например биржа <a href=http://btc-e.com target=”_blank”>BTC-e.com</a> или обменник <a href=http://7Pay.in target=”_blank”>7Pay.in</a>.<br>Более подробно о биткоинах: <a href=https://bitcoin.org target=”_blank”>bitcoin.org</a>
</p>

<h3>
</h3>
<p>
</p>
    </ul>
</div>
