{{extend 'layout.html'}}

<h2>
    The answers to the questions
</h2>
<br>
<div style="font-family: monospace;">

<h3>
Can I make money here?
    </h3>
<p>
+ Yes, you can make your own wagers in Bitcoins and attract players to create a bets. For this you must complete four stages of wagers development. They are: NEW (<i class="fa fa-pause"></i>), PAY (<i class="fa fa-play"></i>), RUN (<i class="fa fa-forward"></i>) and END (<i class="fa fa-eject"></i>). On the last stage you will recieve 3% fee from overall sum and get "Trust" and "Activity" stats.
</p>
    <h3>
What does "Trust" means?
</h3>
<p>
+ As a wagers result set by maker, we are taking from him guarantee deposit in Bitcoins, which creates makers level of Trust. So if a wager will play not fair, he will lost his fee. Because of that, pay attention on a wager makers level of Trust, the higher it is, the greater the guarantee deposit paid by its maker. You can look at made guarantee deposit on a makers personal page.
    </p>
    <h3>
I'm playing online games, can i make a wager on my game?
</h3>
<p>
+ Yes, you can make a quick simle wager on online a game in Bitcoins - use a "simple disputes" or automatically "mini controversy", which are very handy to create wagers on matches of Counter Strike, DOTA 2 and another online games.
</p>
<h3>
    Can I make my level of Trust higher for free?
</h3>
<p>
+ Sure, you can level up your Trust level for free, if you are a representative of the well known online resource (preferably in the Bitcoin field). Contact with us using this <a href={{=URL('default','contacts')}} >Contacts</a>.
</p>
<h3>
What is the "NEW (<i class="fa fa-pause"></i>)" stage means?
</h3>
<p>
+ Wager is in the editing stage - new conditions can be added. Note that if a wager has less than two conditions it can't be moved to the next stage.
</p>
<h3>
What is the "PAY (<i class="fa fa-play"></i>)" stage means?
</h3>
<p>
+ Wager is in the betting stage - players choose win conditions and make bets on them with a selected currency and payment service.
</p>

<h3>
What is the "RUN (<i class="fa fa-forward"></i>)" stage means?
</h3>
<p>
+ Wager is closed for bets and awaits for the events end. All bets made on this stage are automatically returns.
</p>
<h3>
What is the "END (<i class="fa fa-eject"></i>)" stage means?
</h3>
<p>
+ Wager is over - the event has took place, winning conditions (results) were selected, wager maker and players who betted on won condition recieve their money.
</p>

<h3>
I don't want to register, can i make a bet without registration?
</h3>
<p>
+ Yes, you can make a bet on a wager in Bitcoins without registration. You need to register only if you want to make your own wager. To take a part in already made wager you dont need to register. And if your bet has won, money will be sent to the address from which it was made.
</p>
<h3>
Can i use addresses of the exchange services or the pools while registering account or making a bet?
</h3>
<p>
+ Dont do that! Winnings are automatically sent to the address of a payer. Therefore, the exchange service or the pool can not give you your money back - use only your personal address.
</p>
<h3>
What is Bitcoin payment system and why do you use it?
</h3>
<p>
+ Bitcoin (Cryptocurrency) - is a new world order money technology. The main difference from all other systems - banking and electronic money (PayPal, Qiwi) - is that money is stored on your PC and to transfer them, you don't need any third party - bank or payment system. You can't be afraid of bank failure or blockage of your account - because they are impossible by definition.
</p>

<h3>
How can i get Bitcoins?
</h3>
<p>
+First of all you need to download and install a "light wallet", we are recommend to use <a href=http://multibit.org target=”_blank”>multiBit.org</a>.
    You can buy bitcoins on stock exchanges or the exchange offices.<br>
    For example <a href=http://btc-e.com target=”_blank”>BTC-e.com</a> or <a href=http://7Pay.in target=”_blank”>7Pay.in</a>.<br>
    More details about Bitcoin can be found here: <a href=https://bitcoin.org target=”_blank”>bitcoin.org</a>
</p>

<h3>
</h3>
<p>
</p>
    </ul>
</div>
