{{extend 'layout.html'}}

<h2 style="line-height: 30px;">
    Создавай свои пари, споры, тотализаторы - обслуживай их и получай доход со ставок в биткоинах.
</h2>

<h3>
    Отличие нашего сервиса:
</h3>
<div {{if show_imgs:}} id="list2" {{pass}}>
<ol>
    <li><P>
        <em>
            <span class="inv">Выгода.</span> Вы сами можете открыть спор, указать условия победы, набрать ставки от своих знакомых или желающих спорить из интернет, самостоятельно прорекламировав свой спор. Затем, когда ставки сделаны, Вы закрываете спор до времени наступления события. И после того как событие произойдет Вы сами разрешаете спор выделив победившие условия. В результате Вам будет выплачено вознаграждение около 3% процентов от общего числа ставок, а игрокам произведены автоматические выплаты в соответствии с величиной их выигравших ставок и общей величиной ставок на этот спор.</em></p></li>
<li><p><em>
<span class="inv">Честность.</span> В обычных букмекерских конторах невозможно узнать сколько действительно было поставлено ставок на то или иное условие или событие спора. Вам предлагается некий множитель выигрыша при оплате ставки, а потом этот множитель почему-то снижается. Вполне возможно, что контора берет себе по 10-20% комиссию, ведь Вы точно не знаете - сколько всего было поставлено на кон. У нас же все платежи и ставки видны всем желающим благодаря применению биткоин-технологии: оплата в биткоинах даёт 100%-ю честность информации.
</em></p></li>
<li><p><em>
<span class="inv">Удобство.</span> Вы можете создавать быстро "простые споры" – например, по баталиям в онлайн игры. И легко делать ставки на Counter-Strike или ставки на матчи DOTA 2 и другие онлайн игры. Ставки отражаются в реальном времени.
</em></p></li>
<li><p><em>
<span class="inv">Конфиденциальность.</span> Для участия в пари не нужно регистрироваться – Вы можете делать ставки без регистрации на нашем сервисе. Выплаты выигрышей будут производиться на адрес откуда поступила ставка.
</em></p></li>
<li><p><em>
<span class="inv">Открытость.</span> Вы можете создать пробный спор, сами сделать на него ставки, сами его закрыть и назначить победителя и посмотреть какие выплаты мы сделаем. Так Вы сможете проверить нашу комиссию.
</em></p></li>
<li><p><em>
<span class="inv">Демократичность.</span> Комиссию (мзду, подать) за спор назначает его создатель в пределах 0-3%. Наш сервис не берет с участников больше никакой мзды.
</em></p></li>

    </ol>
</div>

{{=BEAUTIFY(response._vars.values()[0])}}
